.header {
  display: flex;
  justify-content: center;
  font-size: x-large;
}
.form {
  margin-top: 10px;
  height: fit-content;
  width: 350px;
}
.Submit_But {
  margin-top: 20px;
  font-size: larger;
}
