.logout {
  display: flex;
  justify-content: space-between;
}

.log_But {
  width: 100px;
  font-size: medium;
}
table {
  width: 100%;
}
.welcome{
  position: relative;
  left: 350px;
}
.edit{
  color: deepskyblue;
}
.delete{
  color:crimson;
}