.container{
    display: flex;
    justify-content: center;
    background-image: url(../../assets/images/blue.jpg);
    height:100%;
    width: 100%;
}
.signup_component{
    height: fit-content;
    text-align: center;
    width: 30%;
    margin-top: 100px;
}
.Firatname {
    margin-top: 2%;
    width:49%;
  }
  .Lastname {
   margin-top: 2%;
   margin-left: 2%;
   width:49%;
}
.email {
  width: 95%;
    
  }
  .password {
    width: 95%;
  }
  .confirm_password {
    width: 95%;
  }
  .Submit{
    width: 50%;
    margin-top: 10px;
    font-size: large;
  }