<div class="container">
    <mat-card class="signup_component">
      <mat-icon aria-hidden="false" aria-label="Example home icon" style="width:fit-content ;font-size:xxx-large;">account_circle</mat-icon>
      <mat-card-title > Signup </mat-card-title>
     <form #f="ngForm" name="form" (ngSubmit)="f.form.valid && onSubmit()">
      <mat-form-field class="Firstname" appearance="outline">
        <mat-label>Firstname</mat-label>
        <input matInput placeholder="Firstname" name="Firstname" [(ngModel)]="form.Firstname" #Firstname="ngModel"/>
      </mat-form-field>
      <mat-form-field class="Lastname" appearance="outline">
        <mat-label>Lastname</mat-label>
        <input matInput placeholder="Lastname" name="Lastname"  [(ngModel)]="form.Lastname" #Lastname="ngModel" />
      </mat-form-field>
      <br/>
      <mat-form-field class="email" appearance="outline">
        <mat-label>E-mail</mat-label>
        <input type="email" matInput placeholder="Email" name="Email"  [(ngModel)]="form.Email" #Email="ngModel"/>
      </mat-form-field>
      <br/>
      <mat-form-field class="password" appearance="outline">
        <mat-label>Password</mat-label>
        <input type="password" matInput placeholder="Password" name="Password"  [(ngModel)]="form.Password" #Password="ngModel"/>
      </mat-form-field>
      <br/>
      <mat-form-field class="confirm_password" appearance="outline">
        <mat-label>Confirm Password</mat-label>
        <input type="password" matInput placeholder="Confirm Password" name="Confirm_password"  [(ngModel)]="form.Confirm_password" #Confirm_password="ngModel"/>
      </mat-form-field>
      <button class="Submit" mat-flat-button color="primary">Submit</button>
      </form>
      <br/>
    <br/><br/>
    <a style="color: black;text-align:right;"routerLink="" >Already have an account? Login</a>
    </mat-card>
    </div>
